@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Montserrat-bold';
  src: url('../fonts/Montserrat-Bold.ttf');
}

:root{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.titulo{
  font-family: 'Montserrat-bold';
  font-stretch: condensed;
}

.logo{
  font-family:'Montserrat-Bold';
}

@media(min-width: 1920px) {
  
  .promo_section{
  padding: 5px;
  }
}
