
@media(min-width: 1920px) {

    /*-----  ------*/

    .container_title_ecom{
        max-width: 2000px;
        padding: 0px;
    }

    .title-eco_serv{
        font-size: 24px;
        margin-bottom: 40px;
      }

    .title_eco{
        font-size: 70px;
        margin-bottom: 55px;
      }

      .description_ecom{
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 55px;
      }
  

    .cards_container_ecom{
        max-width: 2000px;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 120px;

    }

    .item_ecom{
        height: 93px;
        width: 93px;
        margin-bottom: 10px;
    }

    .title_card_eco{
        font-size: 35px;
    }

    .description_card_eco{
        margin-top: 25px;
        font-size: 25px;
    }

    .card_ecom{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .btn-container-eco{
        margin-top: 100px;
    }
    .btn_ecom{
        font-size: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;

    }


  }