@media(min-width: 1920px) {
    .serv_container{
        max-width: 1700px !important;
    }

    .serv_title{
        font-size: 35px !important ;
    }
    .serv_text{
        font-size: 22px !important;
        line-height: 40px;
    }
    .sec_title{
        font-size: 40px !important;
    }

    .sec_description{
        font-size: 25px !important;
        max-width: 1700px !important;
    }
    .sec_container{
        max-width: 1700px !important;

    }

}

@media(min-width: 2560px) {
    .serv_container{
        max-width: 2000px !important;
    }

    .serv_title{
        font-size: 45px !important ;
    }
    .serv_text{
        font-size: 28px !important;
        line-height: 50px;
    }
    .sec_title{
        font-size: 60px !important;
    }

    .sec_description{
        font-size: 35px !important;
        max-width: 1800px !important;
    }

    .sec_container{
        max-width: 1900px !important;
    }

}